#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@


override_dh_auto_build:
	cd client_generic; make; cd ..

override_dh_auto_configure:
	cd client_generic; ./configure --prefix=/usr; cd ..

override_dh_auto_clean:
	cd client_generic; make clean; cd ..
